<!--DOCTTYPE html-->
<html>
        <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="Nottingham Univeristy Assassins Society website.">
		<script src="js/login.js"></script>
<link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
<div class="wrapper">
<div class="header">
<center><h1>WELCOME TO THE ASSASSINS SOCIETY</h1></center>
</div>
    
<center>
<br>
<br>
<br>
<p> Enter your assassins details</p>
	Account Name: <input type="text" name="name" id="name"><br>
	<br>
	Password: <input type="password" name="pass" id="pass"><br>
	<br>
	<input type="submit" value="Enter the Society" id="button">
</center>
</div>
</html>
