<!DOCTTYPE html>
<html>
        <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="Nottingham Univeristy Assassins Society website.">
<link rel="stylesheet" href="main.css">
</head>
<body>
    
<div class="wrapper">
<div class="header">
<center><h1>WELCOME TO THE ASSASSINS SOCIETY</h1></center>
</div>
    
<center>
<br>
<br>
<br>
<p> Enter your assassins details</p>
<form>
	Account Name: <input type="text" name="firstname"><br>
	<br>
	Account Number: <input type="text" name="accountnumber"><br>
	<br>
	<input type="submit" value="Enter the Society">
</form>
</center>
</div>
</html>