<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Assassin's Society Leaderboards</title>
            <link rel="stylesheet" href="main.css" type="text/css">
    </head>
<body>
    <div id="wrap" class="nav">
    <nav id="nav">
        <ul>
                <li class="item1"><a href="userhub">User Hub</a></li>
                <li class="item2 current active"><a href="leaderboard">Leaderboards</a></li>
                <li class="item3"><a href="/">Log Out</a></li>
        </ul>        
     </nav>
        
        </div>
    <div id="wrap" class="body">
        <header>
            <h1>Assassin's Society Leaderboards</h1>
            <h2>Find out who the top assassins in the society are.</h2>
        </header>
            
        
        <section>
            <!--Content Starts Here-->
            <br>
            <br>
            <center><TABLE>
<TR> <TD>Assassin</TD>                      <TD>Kills</TD> </TR>
<TR> <TD>Sam Berkay</TD>                    <TD>5</TD> </TR>
<TR> <TD>Chris Birmingham</TD>              <TD>4</TD> </TR>
<TR> <TD>Caspers Mum</TD>                   <TD>3</TD> </TR>
<TR> <TD>Casper Oakley</TD>                 <TD>0</TD> </TR>
</TABLE></center>
            <!--Content Ends Here -->
        </section>
    </div>
    </div>
    </body>
</html>






