<!DOCTYPE html>
<html>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Assassin's Society User Hub</title>
		<script src="js/jquery-2.1.0.min.js"></script>
		<script src="js/userhub.js"></script>
            <link rel="stylesheet" href="main.css" type="text/css">
    </head>
<body>
    <div id="wrap" class="nav">
    <nav id="nav">
        <ul>
				<li class="nameA" id="nameAccount"></li>
                <li class="item1 current active"><a href="userhub">User Hub</a></li>
                <li class="item2"><a href="leaderboard">Leaderboards</a></li>
                <li class="item3"><a href="/">Log Out</a></li>
        </ul>        
     </nav>
        
        </div>
    <div id="wrap" class="body">
        <header>
            <h1>Assassin's Society User Hub</h1>
            <h2>Find out what you need to know about your next target.</h2>
        </header>
            
        
        <section>
            <em><h3>Stats</h3></em>
			<h2 id="kills">Kills: </h2>
			<h2 id="deaths">Deaths: </h2>
			<h2 id="kd">K/D: </h2>
			<hl>
           <em><h3>Target Stats</h3></em>
			<h2 id="name">Name: </h2>
			<h2 id="ekills">Kills: </h2>
			<h2 id="edeaths">Deaths: </h2>
			<h2 id="ekd">K/D: </h2>
			<hl>
           <em><h3>Options</h3></em>
		   <input id="confirm" name="confirm" type="button" value="confirm"/>
		   <input id="help" name="request help" type="button" value="request help"/>
		   <input id="reset" name="reset" type="button" value="reset"/>
		   <input id="signup" name="signup" type="button" value="signup"/>
        </section>
    </div>
    </body>
</html>
