<!DOCTYPE html>
<html>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Assassin's Society User Hub</title>
            <link rel="stylesheet" href="meep.css" type="text/css">
    </head>
<body>
    <div id="wrap" class="nav">
    <nav id="nav">
        <ul>
                <li class="item1 current active"><a href="./">User Hub</a></li>
                <li class="item2"><a href="news.html">Leaderboards</a></li>
        </ul>        
     </nav>
        
        </div>
    <div id="wrap" class="body">
        <header>
            <h1>Salford Rejex Team Page</h1>
            <h2>The home of NUEL competitors, The Salford Rejex</h2>
        </header>
            
        
        <section>
            <!--Content Starts Here-->
            <em><h3>Who we are</h3></em>
            <p1>The Salford Rejex is a competitive 5v5 <a href="http://euw.leagueoflegends.com/">League of Legends</a> team, competing in the <abbr title ="National University E-Sports League">NUEL</abbr>, the team consists of undergrads in varying stages of their degrees from their first to third years of tertiary education.</p1>
           <em><h3>What it is</h3></em>
            <p>The NUEL (National University Esports League) is a round robin format tournament in which competitors play a variety of online games to compete to be the best university in the country at said game. The Salford Rejex plays in the 5v5 year long League of Legends tournament in an effort to compete to be the strongest LoL team in the country, or at least have fun trying so.</br>
            
            <p>This page will keep track of the Rejex's progress and team structure.</p>
            <!--Content Ends Here -->
        </section>
    </div>
    
    <br></br>
    <div id="wrap" class="foot">
        <footer id="siteinfo">
        <address>
            Created by <a href="mailto:sberkay64@gmail.com">Sam Berkay</a>.</address>
            
        </footer>
    </div>
    </body>
</html>






